port = "8010"
permit_write = true
enable_google_oauth = true
google_cookie_name = "gotty_google_auth"
google_cookie_path = "/"
google_cookie_max_age = 86400
google_cookie_http_only = true
google_client_id = "149535810535-ejdmldu8mg63f4v51gofkkc0kel05i73.apps.googleusercontent.com"
google_client_secret = "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"
google_callback_url = "http://localhost:8010/callback"
jwt_audience = "gotty"
jwt_secret = "mysecret"
jwt_cookie_name = "gotty_jwt"
jwt_cookie_path = "/"
jwt_cookie_max_age = 86400
jwt_cookie_http_only = true
jwt_expiration = 86400
users_file = "/tmp/users.json"
